#Main{
	width: max-content;
	background-color: #c7d3bf;
	border-radius: 5px;
	margin-left: 50%;
	transform: translate(-195px);
}
#Display{
	border-bottom: 3px solid black;
	height: 50px;
	box-sizing: border-box;
	font-size: 25px;
	text-indent: 15px;
	padding: 8px 0px;
	background-color: #ddf0e3;
	border-radius: 5px 5px 0px 0px;
}
#NumpadDiv{
	display: inline-block;
	width: 210px;
	height: 280px;
	margin-right: 20px;
}
#OperationsDiv{
	display: inline-block;
	height: 280px;
	width: 70px;
	margin-right: 20px;
}
#AuxiliaryDiv{
	display: inline-block;
	width: 70px;
	height: 280px;
}
button{
	box-sizing: border-box;
	display: inline-block;
	background-color: #e0dab8;
	color: #807c4d;
	width: 50px;
	height: 50px;
	margin: 10px;
	font-size: 25px;
	padding: 0;
	border: 1px solid #8a7079;
	border-radius: 10px;
}
button:hover{
	border-width: 3px;
	color: #424018;
}
body{
	background-color: #314448;
}
